rest-model/src/main/resources/xsd/customer.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="CustomerDTOList" type="CustomerDTOListType"/>
<xs:complexType name="customersType">
<xs:sequence>
  <xs:element type="xs:byte" name="id" minOccurs="0"/>
  <xs:element type="xs:string" name="first_name" minOccurs="0"/>
  <xs:element type="xs:string" name="last_name" minOccurs="0"/>
  <xs:element type="xs:string" name="customer_url" minOccurs="0"/>
  <xs:element type="customersType" name="customers" maxOccurs="unbounded" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CustomerDTOListType">
<xs:sequence>
  <xs:element type="customersType" name="customers"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
